@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.snack-bar-overrides(
    // (
    //   button-color: rgb(119, 255, 0),
    //   container-color: #7d2e2e,
    // )
  );
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
::ng-deep .custom-snackbar-success {
  background-color: #2e7d32; /* dark green */
  color: #ffffff; /* white text */
  font-weight: 500;
  font-size: 14px;
}

.container {
  // max-width: 1200px;
  width: 1000px;
  margin: 0 auto;
}
// Global override for success snackbar
.success-snackbar {
  background-color: #2e7d32 !important; /* Dark green */
  color: #ffffff !important;
  font-weight: 500;
  font-size: 14px;
}

/* Style the "Close" action text */
.success-snackbar .mat-mdc-button {
  color: #ffffff !important;
}

/* Target the scrollbar itself */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the vertical scrollbar */
}

/* Style the track (the area behind the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Style the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #4a5568; /* A darker gray, a more subtle color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Change the thumb color on hover for a better user experience */
::-webkit-scrollbar-thumb:hover {
  background: #2d3748; /* Slightly darker shade on hover */
}
